<section class="h-100">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">3 items</h6>
                  </div>
                  <hr class="my-4">
                  <div *ngIf="itemsCart.length > 0; else cartEmpty">
                    <ul>
                      <li *ngFor="let itemCart of itemsCart">
                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                          <div class="col-md-2 col-lg-2 col-xl-2">
                            <img [src]="itemCart.image" class="img-fluid rounded-3" alt="Cotton T-shirt">
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-3">
                            <h4 class="text-black mb-0">{{ itemCart.description }}</h4>
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                            <input name="ammount" type="number" style="width: 60px;" [(ngModel)]="itemCart.ammount" class="form-control form-control-sm" (change)="sumTotal()"/>
                          </div>
                          <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                            <h3 class="mb-0">{{ itemCart.price | currency: "BRL" }}</h3>
                          </div>
                          <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                            <a href="/cart" class="text-muted" (click)="removeProduct(itemCart.id)"><i
                                class="fas fa-times"></i></a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <ng-template #cartEmpty><h2>Your cart is empty!</h2></ng-template>
                  <hr class="my-4">

                  <div class="pt-5">
                    <h4 class="mb-0"><a href="#!" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Back
                        to shop</a></h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>{{ total | currency: "BRL" }}</h5>
                  </div>

                  <button type="button" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark" (click)="buy()">Checkout</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>