<header>
    <nav>
        <div class="px-3 py-4 text-bg-dark">
            <div class="mx-5">
                <div class="d-flex">
                    <a href="/"
                        class="d-flex align-items-start justify-content-start my-2 my-lg-0 me-lg-auto text-decoration-none">
                        <h1><span class="text-primary display-3">ProWay </span><span
                                class="text-warning display-3">Computers</span></h1>
                    </a>

                    <ul class="nav col-12 col-lg-auto my-2 align-items-center justify-content-center text-small">
                        <li>
                            <a href="#" class="nav-link bi d-block mx-auto mb-1">
                                Products
                            </a>
                        </li>
                        <li>
                            <a routerLink="/cart" class="nav-link bi d-block mx-auto mb-1">
                                Cart
                                <span>({{ cartService.getCart().length }})</span>
                            </a>
                        </li>
                        <li>
                            <a href="/contact" class="nav-link bi d-block mx-auto mb-1">
                                Contact
                            </a>
                        </li>
                        <li>
                            <app-search-bar></app-search-bar>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>